.LoginContainer {
  display: flex;
}

.ImgBanner-Login {
  background-color: #236d55;
  display: flex;
  width: 55%;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
  height: 100vh;
}

h1,
h3 {
  color: white;
}

.ImgBanner-Login h1 {
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.img-Banner {
  width: 90%;
  object-fit: contain;
}

.ImgBanner-Login .aboutApp {
  width: 600px;
  margin-top: 80px;
  text-align: center;
}

.powerBy-Schub {
  position: fixed;
  bottom: 0;
  left: 40px;
}

.ImgBanner-Login span {
  color: #47daab;
}

.CardLogin-container {
  background-color: #f4f4f4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CardLogin-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 520px;
  background: none;
}
.login-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}
.img-Banner-responsive{
    margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .ImgBanner-Login {
    display: none;
  }
  .LoginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width: 542px){
    .login-right{
        width: 90%;
    }
    .CardLogin-container, .Container-cardLogin{
        width: 100% !important;
    }
}
