.cards-groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  padding-top: 30px;
}
.ant-layout:has(.Container-groups-all) {
  background: none !important;
}
.createG-Header {
  display: flex;
  justify-content: space-between;
}
.createG-Header button {
  background-color: #58bd9f;
  border: none;
  color: white;
  border-radius: 5px;
  width: 120px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
  cursor: pointer;
  transition: all 1s;
}

.createG-Header button:hover {
  background-color: #236d55;
}

@media (max-width: 988px) {
  .cards-groups {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 571px) {
  .createG-Header {
    padding-top: 20px;
  }
}
