.SideMenu-activeButton {
  cursor: pointer;
  height: 6%;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.897);
}
.disableMenu-label {
  padding-top: 10px;
  padding-left: 3px;
}
.dataUser-sideMenu {
  width: 79px;
  position: absolute;
  bottom: 0;
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sideMenu {
  background-color: #236d55;
  border-right: 1px solid rgba(255, 255, 255, 0.897);
}
.sideMenu li *{
  color: rgb(255, 255, 255) !important;
}
.sideMenu .ant-layout-sider, .sideMenu .ant-menu {
  background-color: #236d55 !important;
  border: none !important;
}
.sideMenu.collapsed .dataUser-sideMenu {
  width: 80px;
}

.sideMenu:not(.collapsed) .dataUser-sideMenu {
  width: 240px;
}
:where(.css-dev-only-do-not-override-ut69n1).ant-menu-light .ant-menu-item-selected{
  background-color: #4dcca4;
}
@media (max-width: 402px) {
  .sideMenu {
    position: fixed;
  }
  .ContainerContent-Page {
    padding-top: 60px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .sideMenu.collapsed {
    position: fixed;
    width: 100vw !important;
  }
  .sideMenu:not(.collapsed) {
    height: 100% !important;
    background-color: #236d55;
    border-right: 1px solid rgb(240, 240, 240);
  }
  .sideMenu .ant-menu-vertical {
    display: none;
  }
  .sideMenu.collapsed .dataUser-sideMenu {
    display: none;
  }
}
