.error-captcha{
    color: red;
    text-align: center;
}

.Container-cardLogin{
    background-color: white;
    width: 520px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.164);
    padding: 30px 24px 30px 24px;
}
.forgotPasswordBTN{
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}
.form-login{
    display: flex;
    flex-direction: column;
}

.form-login h1{
    color: black;
    text-align: center;
    font-weight: bold;
}

.form-login h1 span{
    color: #236d55;
}

.captcha-container {
  width: 100%; 
  max-width: 500px; 
  margin-top: 35px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

