.ContainerGroupCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}
.ContainerGroupCard .container-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.Buttons-CardGroup {
  display: flex;
  gap: 10px;
}

.open-button {
  border: none;
  width: 50%;
  color: white;
  background-color: #58bd9f;
  height: 48px;
  cursor: pointer;
  transition: all 0.5s;
}

.open-button:hover {
  background-color: #236d55;
}

.delete-button {
  border: none;
  color: white;
  background-color: red;
  height: 48px;
  cursor: pointer;
  width: 50%;
  transition: all 0.5s;
}

.delete-button:hover {
  background-color: rgb(122, 0, 0);
}
