.text-frGreen {
  width: 50%;
  height: 100%;
  position: relative;
  background: #2ba880;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.text-frGreen div {
  width: 85%;
  margin-right: 50px;
}
.text-frGreen div h1,
.text-frGreen div h2,
.text-frGreen p {
  font-family: "Oswald";
  color: white;
}
.text-frGreen p {
  font-size: 20px;
}
.text-frGreen div button {
  width: 100px;
  height: 40px;
  border: none;
  background: #00774f;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}
.text-frGreen div button:hover {
  background: #10b984;
  border: 1px solid white;
}
.homeContPage {
  height: 100%;
  background: #00774f;
  position: relative;
}