
.Container-cardVerification{
    background-color: white;
    width: 520px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.164);
    padding: 30px 24px 30px 24px;
}
.Container-cardVerification h1{
    color: black;
    text-align: center;
    font-weight: bold;
}

.Container-cardVerification h1 span{
    color: #236d55;
}

.Container-cardVerification .codeBox .ant-otp{
    width: 100% !important;
}
.loginRedirect{
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}
.codeBox .ant-otp .ant-otp-input-wrapper, .codeBox .ant-otp .ant-otp-input-wrapper input{
    height: 64px;
    width: 100%;
}